.calendar-router {
    height: 600px;
    background-color: #e8ecf2;
}

.calendar-router .calendar {
    width: 67%;
    float: left;
}

.calendar-router .toggle .fa-list {
    font-size: 33px;
    margin-left: 50px;
    margin-top: 15px;
}

.calendar .week-calendar {
    height: 505px;
}

    .week-calendar .weekCalendar {
        width: 95%;
        margin: 16px 0;    
        margin-left: 5%;
    }

    .weekCalendar__content {
        height: 100%;
    }

.calendar .switch {
    padding: 20px;
    background-color: white;
}

.switch .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.switch .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.switch .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
