.calendar-router {
    height: 600px;
    background-color: #e8ecf2;
}

.calendar-router .calendar {
    width: 67%;
    float: left;
}

.calendar-router .toggle .fa-list {
    font-size: 33px;
}

.calendar .week-calendar {
    height: 505px;
}

    .week-calendar .weekCalendar {
        width: 95%;
        margin: 16px 0;    
        margin-left: 5%;
    }

    .weekCalendar__content {
        height: 100%;
    }

.calendar .calendar-switch {
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-top: 15px;
}

    .calendar-switch .switch-left {
        margin: 0 20px 0 100px;
    }

    .calendar-switch .switch-right {
        margin: 0 20px 0 20px;
    }

    .calendar-switch .switch {
        height: 20px;
        padding: 3px 7px 3px 8px;
        background-color: white;
        cursor: pointer;
    }

    .calendar-switch .switch:hover {
        background-color: #ffffc0;
    }

        .switch .arrow {
            border: solid black;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
        }

        .switch .arrow-right {
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
        }

        .switch .arrow-left {
            transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
        }

    .calendar-switch .date {
        padding: 5px;
    }

    .calendar-switch .start {

    }
    
    .calendar-switch .end {

    }

    .calendar-switch .hyphen {

    }