@media (min-width: 800px){
    .header {
        font-size: 28px;
    }
}

@media (min-width: 600px) and (max-width: 800px) {
    .header {
        font-size: 24px;
    }
}

@media (min-width: 400px) and (max-width: 600px) {
    .header {
        font-size: 20px;
    }
}

@media (max-width: 400px) {
    .header {
        font-size: 16px;
    }
}

.header {
    padding-left: 20px;
    padding-bottom: 8px;
    font-weight: bold;
}

.name {
    margin: 2px;
    top: 0px;
    color: lightblue;
    text-decoration: none;
}