.list-router {
    height: 600px;
    background-color: #e8ecf2;
}

    .list-router .toggle .fa-calendar {
        font-size: 33px;
        margin-left: 50px;
        float: left;
    }

    .list-router .list {
        float: left;
        padding-right: 3%;
        width: 67%;
        height: 600px;
    }

        .list .todos {
            overflow: auto;
            height: 85%;
            padding-left: 5%;
            list-style: none;
        }

            .todos .todo {
                font-size: 18px;
                counter-increment: item;
                margin-bottom: 5px;
                padding: 10px;
                border-radius : 20px;
                opacity: 0.75;
            }

            .todos .todo:before {
                content: counter(item);
                box-shadow:  0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
                margin-right: 8px;
                background-color: white;
                color: #333333;
                border-radius: 100%;
                width: 2.0em;
                height: 1.7em;
                padding-top: 0.4em;
                text-align: center;
                display: inline-block;
            }

            .todos .todo:hover {
                opacity: 0.9;
                cursor: pointer;
            }

            .todos .chosen-todo{
                opacity: 1;
            }

            .todos .todo .button{
                height: 40px;
                width: 40px;

                color: #232323;
                background: #dedcef;
                margin: 2px 15px 5px 15px;
                border-radius : 5px;
                padding: 6px 12px;
                box-shadow:  0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
                float: right;
                border: 2px solid #d5d3ea;
                display: inline-block;
                font-family: "Helvetica";
                font-weight: 800;
            }


.list .input{
            font-family: "Helvetica";
            width: 50%;
            border: none;
            
            display: block;
            margin: 15px 150px;
            padding: 5px;

            font-size: 20px;
            border-radius: 10px;

            background-color: #dedcef;
        }    

        .list .input:focus {
            outline-width: 0;
        }
