.list-router {
    height: 600px;
    background-color: #e8ecf2;
}

    .list-router .toggle .fa-calendar {
        font-size: 33px;
        margin-left: 50px;
        float: left;
    }

    .list-router .list {
        float: left;
        padding-right: 3%;
        width: 67%;
        height: 600px;
    }

        .list .todos {
            overflow: auto;
            height: 85%;
            padding-left: 5%;
            list-style: none;
        }

            .todos .todo {
                font-size: 18px;
                counter-increment: item;
                margin-bottom: 5px;
                padding: 10px;
                border-radius : 25px;
                opacity: 0.75;
            }

            .todos .todo:before {
                content: counter(item);
                margin-right: 10px;
                background: lightblue;
                color: white;
                border-radius: 100%;
                width: 2.0em;
                height: 1.7em;
                padding-top: 0.3em;
                text-align: center;
                display: inline-block;
            }

            .todos .todo:hover {
                opacity: 0.9;
                cursor: pointer;
            }

            .todos .chosen-todo{
                opacity: 1;
            }
            .todos .buttonstyle{
                margin: 0px 10px 10px 10px;
                float: right;
                border-radius: 70%;
                background-color:#599bb3;
                cursor:pointer;
                color:#ffffff;
                font-size:10px;
                font-weight:bold;
                padding:7px 16px;
                text-decoration:none;
                text-shadow:0px 1px 0px #3d768a;
                outline: 0;
            }

            .todos  .noview{

                padding: 0 9px;
                display: none;
                overflow: hidden;
            }
            .todos  .view{

                padding: 0 9px;
                display: inline-block;
                overflow: hidden;
            }
            .todos  .view .Select{
                display: block;
                padding: 6px;
                margin: 6px;
                margin-left: auto;
            }

        .list .input{
            width: 50%;
            border: none;
            display: block;
            margin: 15px 150px;
            padding: 5px;
            font-size: 20px;
            border-radius: 10px;
            background-color: #bdbdbd;
        }    

        .list .input:focus {
            outline-width: 0;
        }