@media (min-width: 800px){
    .categories-list .category {
        font-size: 24px;
    }

    .categories .input {
        font-size: 20px;
        width: 55%;
    }

    .categories .delete-button {
        font-size: 20px;
    }
}

@media (min-width: 600px) and (max-width: 800px){
    .categories-list .category {
        font-size: 20px;
    }

    .categories .input {
        font-size: 17px;
        width: 80%;
    }

    .categories .delete-button {
        font-size: 17px;
    }
}

@media (min-width: 400px) and (max-width: 600px){
    .categories-list .category {
        font-size: 16px;
    }

    .categories .input {
        font-size: 14px;
        width: 80%;
    }

    .categories .delete-button {
        font-size: 14px;
    }
}

@media (max-width: 400px){
    .categories-list .category {
        font-size: 12px;
    }

    .categories .input {
        font-size: 11px;
        width: 80%;
    }

    .categories .delete-button {
        font-size: 11px;
    }
}

.categories {
    background-color: #ADADAD;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.categories > * {
    width: 100%;
}

    .categories .categories-list-wrapper {
        overflow: auto;
        flex: auto;
        margin-bottom: 10px;
    }

    .categories .categories-list {
        list-style: none;
        display: flex;
        flex-wrap: wrap; 
        margin: 2%;
        padding: 0;
        justify-content: center;
    }

        .categories-list .category {
            counter-increment: item;
            margin: 3px;
            padding: 10px 20px;
            border-radius : 25px;
            opacity: 0.5;
        }

        .categories-list .category:hover {
            opacity: 0.7;
            cursor: pointer;
        }

        .categories-list .chosen-category{
            opacity:1;
            border: blue solid;
            border-width: 3px;
        }

    .categories .input-form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .categories .input {
        border: none;

        margin: 2% 2% 4% 2%;
        padding: 5px;

        border-radius: 10px;
    }

    .categories .delete-button {
        background-color: #cc0000;
        border: none;
        color: white;
        margin: 2% 2% 4% 2%;
        padding: 5px 10px;
        text-align: center;
        border-radius: 10px;
        opacity: 0.6;
        transition: 0.3s;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
    }

    .categories .deleteButton:hover {
        opacity: 1
    }
