.categories {
    background-color: #ADADAD;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.categories > * {
    width: 100%;
}

    .categories .categories-list-wrapper {
        overflow: auto;
        flex: auto;
        margin-bottom: 10px;
    }

    .categories .categories-list {
        list-style: none;
        display: flex;
        flex-wrap: wrap; 
        margin: 10px;
        padding: 0;
    }

        .categories-list .category {
            height: 50px;
            counter-increment: item;
            margin: 3px;
            padding: 10px 20px 0 20px;
            border-radius : 25px;
            opacity: 0.5;
            font-size: 24px;
        }

        .categories-list .category:hover {
            opacity: 0.7;
            cursor: pointer;
        }

        .categories-list .chosen-category{
            opacity:1;
            border: blue solid;
            border-width: 3px;
        }

    .categories .input {
        width: 80%;
        border: none;
        float: left;

        display: inline-block;
        margin: 15px 5px 15px 3px;
        padding: 5px;

        font-size: 20px;
        border-radius: 10px;
    }

    .categories .deleteButton {
        background-color: #cc0000;
        border: none;
        color: white;
        margin: 15px 3px 15px 5px;
        padding: 5px 10px;
        text-align: center;
        font-size: 20px;
        border-radius: 10px;
        opacity: 0.6;
        transition: 0.3s;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
    }

    .categories .deleteButton:hover {
        opacity: 1
    }
